<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
    <title>Skills&Works</title>
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h3>欢迎来到Skills&Works，请选择您要进行的操作！</h3>
        </div>
        <div class="select">
            <a href="./skills_for_works.html"><button class="skills_for_works">根据技能智能推荐岗位</button></a>
            <a href="./works_for_skills.html"><button class="works_for_skills">根据岗位匹配您的技能</button></a>
        </div>
    </div>
</body>
</html>